/*响应式布局*/
@media screen and (min-width: 1000px) {
    .menu {
        margin:0px auto;
        height: 100%;
        width:50%;
      }
}

/*返回键*/
.tback {
    width: 0;
    height: 0;
    border-right: 30px solid rgb(60, 167, 255);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    float: left;
}
/*顶部标题*/
.title {
    text-align: center;
    font-size: 50px;
    font-family: "黑体";
    font-weight: 600;
}
/*搜索图标*/
.icon-search {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 4px solid rgb(60, 167, 255);
    position: relative;
    float: right;
}
.icon-search:after {
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 16px;
    height: 6px;
    position: absolute;
    top: 30px;
    left: 22px;
    background-color: rgb(60, 167, 255);
    float: right;
}
/*导航栏菜单*/
.table-1 {
    white-space: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    /*transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    transform: translate(-834px, 0px) translateZ(0px);*/
}
/*导航栏选项*/
.sorts {
    display: inline-block;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 35px;
}
a {
    text-decoration: none;  
    color: black; 
}
a:link {color:black}
a:hover {color:rgb(70, 155, 252)}
a:active {color:red}
/*商品列表*/
.box-3 {
    text-align: left;
    height: 100%;
    display: flex;
}
.box-3-1 {
    width: 100%;
}
.table-2 {
    height: 100%;
}
.table-2 li {
    margin: 2%;
    font-size: 50px;
    width: 45%;
    display: inline-block;
    text-align: center;
}

.table-2 li::before {
    content: '';
    padding-top: 140%;
    float: left;
}

.table-2 li::after {
    content: '';
    display: block;
    clear: both;
}

.L-3 {
    background-color: rgb(219, 219, 219);
    font-size: 50px;
    height: 100%
}
.l {
    width: 100%;
    margin: 0px;

}
.l-1 {
    display: inline-block;
    margin: 0px;
    width: 100%;
}
.p-1 {
    width: 450px;
    height: 450px;
    opacity: 0.3;
}
.l-2 {
    text-align: left;
    height: 40%;
}
.l-2-1 div{
    overflow: scroll;
    width: 100%;
    height: 100px;
    word-wrap: break-word;
    
}
.l-2-1 div::-webkit-scrollbar {
    display: none;
}
.l-2-2 span{
    display: inline-block;
    margin: 0px;
    width:100%;
}
.price-1 {
    color:red;
    font-weight: 600;
}
.price-2 {
    color:gray;
    text-decoration: line-through;
    font-size: 45px;
}
.p-1 {
    width: 100%;

}

/*//////////////////////////////////////////////*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    width: 10px;
    background-color: #00aff0;
}
/*
::-webkit-scrollbar {
    display: none;
}*/

::-webkit-scrollbar-track {
    background-color: #bee1eb;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9c3
}

::-webkit-scrollbar-thumb:active {
    background-color: #00aff0
}


